In [1]:
import pandas as pd

In [2]:
from pandas_datareader import data

In [5]:
data.DataReader('005930.KS', 'yahoo-actions', '2010-07-04','2016-07-08')

              action    value
2015-12-29  DIVIDEND  20000.0
2015-06-29  DIVIDEND   1000.0
2014-12-29  DIVIDEND  19500.0
2014-06-27  DIVIDEND    500.0
2013-12-27  DIVIDEND  13800.0
2013-06-27  DIVIDEND    500.0
2012-12-27  DIVIDEND   7500.0
2012-06-28  DIVIDEND    500.0
2011-12-28  DIVIDEND   5000.0
2011-06-29  DIVIDEND    500.0
2010-12-29  DIVIDEND   5000.0

In [2]:
data.YahooQuotesReader

In [7]:
data.DataReader('005930', 'google', '2010-07-04','2016-07-08')

                 Open       High        Low      Close   Volume
Date
2010-07-05   763000.0   770000.0   761000.0   767000.0   199294
2010-07-06   762000.0   775000.0   755000.0   775000.0   355302
2010-07-07   780000.0   781000.0   765000.0   769000.0   321829
2010-07-08   783000.0   784000.0   770000.0   775000.0   292674
2010-07-09   779000.0   796000.0   773000.0   796000.0   362616
2010-07-12   799000.0   802000.0   792000.0   802000.0   245512
2010-07-13   798000.0   808000.0   794000.0   796000.0   292941
2010-07-14   813000.0   828000.0   813000.0   824000.0   661493
2010-07-15   825000.0   825000.0   818000.0   820000.0   276294
2010-07-16   816000.0   820000.0   802000.0   802000.0   335425
2010-07-19   786000.0   799000.0   786000.0   795000.0   278908
2010-07-20   795000.0   802000.0   786000.0   798000.0   230488
2010-07-21   817000.0   818000.0   806000.0   817000.0   325599
2010-07-22   812000.0   817000.0   801000.0   808000.0   305388
2010-07-23   815000.0   817000.0   807000.0   811000.0   275815
2010-07-26   813000.0   820000.0   809000.0   818000.0   206450
2010-07-27   824000.0   830000.0   821000.0   829000.0   381209
2010-07-28   832000.0   840000.0   831000.0   837000.0   463700
2010-07-29   839000.0   840000.0   824000.0   827000.0   295547
2010-07-30   822000.0   827000.0   810000.0   810000.0   310754
2010-08-02   817000.0   818000.0   810000.0   810000.0   240382
2010-08-03   820000.0   822000.0   815000.0   815000.0   257257
2010-08-04   817000.0   818000.0   806000.0   806000.0   209636
2010-08-05   811000.0   818000.0   803000.0   804000.0   256623
2010-08-06   810000.0   810000.0   799000.0   801000.0   217061
2010-08-09   799000.0   802000.0   798000.0   802000.0   182260
2010-08-10   800000.0   804000.0   791000.0   793000.0   273785
2010-08-11   784000.0   789000.0   777000.0   779000.0   356571
2010-08-12   768000.0   777000.0   765000.0   766000.0   419114
2010-08-13   770000.0   782000.0   767000.0   781000.0   279091
...               ...        ...        ...        ...      ...
2016-05-27  1300000.0  1301000.0  1273000.0  1282000.0   261902
2016-05-30  1297000.0  1297000.0  1274000.0  1280000.0   204641
2016-05-31  1280000.0  1300000.0  1268000.0  1292000.0  1198180
2016-06-01  1298000.0  1341000.0  1295000.0  1333000.0   464371
2016-06-02  1350000.0  1372000.0  1346000.0  1365000.0   472853
2016-06-03  1370000.0  1379000.0  1364000.0  1377000.0   310428
2016-06-07  1386000.0  1402000.0  1380000.0  1398000.0   459213
2016-06-08  1419000.0  1419000.0  1389000.0  1406000.0   346942
2016-06-09  1408000.0  1430000.0  1406000.0  1430000.0   512553
2016-06-10  1424000.0  1425000.0  1404000.0  1406000.0   289005
2016-06-13  1396000.0  1396000.0  1362000.0  1371000.0   290039
2016-06-14  1371000.0  1386000.0  1369000.0  1380000.0   243251
2016-06-15  1385000.0  1416000.0  1383000.0  1413000.0   301979
2016-06-16  1413000.0  1417000.0  1395000.0  1409000.0   288743
2016-06-17  1410000.0  1435000.0  1410000.0  1426000.0   328256
2016-06-20  1427000.0  1448000.0  1426000.0  1431000.0   268408
2016-06-21  1432000.0  1449000.0  1426000.0  1448000.0   193560
2016-06-22  1446000.0  1450000.0  1431000.0  1445000.0   177102
2016-06-23  1444000.0  1445000.0  1427000.0  1430000.0   224121
2016-06-24  1445000.0  1445000.0  1360000.0  1400000.0   408920
2016-06-27  1400000.0  1405000.0  1385000.0  1398000.0   236573
2016-06-28  1390000.0  1404000.0  1379000.0  1399000.0   213829
2016-06-29  1408000.0  1412000.0  1391000.0  1396000.0   208090
2016-06-30  1408000.0  1445000.0  1397000.0  1425000.0   272883
2016-07-01  1427000.0  1479000.0  1427000.0  1466000.0   286582
2016-07-04  1464000.0  1474000.0  1451000.0  1466000.0   156639
2016-07-05  1466000.0  1475000.0  1462000.0  1469000.0   155389
2016-07-06  1447000.0  1452000.0  1412000.0  1421000.0   320468
2016-07-07  1421000.0  1450000.0  1416000.0  1450000.0   226202
2016-07-08  1450000.0  1475000.0  1449000.0  1460000.0   246773

[1489 rows x 5 columns]

In [9]:
data.DataReader('005930.KS', 'yahoo', '2010-07-04','2016-07-08')

                 Open       High        Low      Close   Volume   Adj Close
Date
2010-07-05   763000.0   770000.0   761000.0   767000.0   199900   723766.07
2010-07-06   762000.0   775000.0   755000.0   775000.0   357500   731315.13
2010-07-07   780000.0   781000.0   765000.0   769000.0   323600   725653.33
2010-07-08   783000.0   784000.0   770000.0   775000.0   295000   731315.13
2010-07-09   779000.0   796000.0   773000.0   796000.0   372100   751131.41
2010-07-12   799000.0   802000.0   792000.0   802000.0   251900   756793.20
2010-07-13   798000.0   808000.0   794000.0   796000.0   306700   751131.41
2010-07-14   813000.0   828000.0   813000.0   824000.0   663600   777553.12
2010-07-15   825000.0   825000.0   818000.0   820000.0   321200   773778.59
2010-07-16   816000.0   820000.0   802000.0   802000.0   338600   756793.20
2010-07-19   786000.0   799000.0   786000.0   795000.0   291700   750187.78
2010-07-20   795000.0   802000.0   786000.0   798000.0   231500   753018.67
2010-07-21   817000.0   818000.0   806000.0   817000.0   331100   770947.69
2010-07-22   812000.0   817000.0   801000.0   808000.0   308700   762455.00
2010-07-23   815000.0   817000.0   807000.0   811000.0   282200   765285.90
2010-07-26   813000.0   820000.0   809000.0   818000.0   212300   771891.32
2010-07-27   824000.0   830000.0   821000.0   829000.0   381700   782271.28
2010-07-28   832000.0   840000.0   831000.0   837000.0   464900   789820.34
2010-07-29   839000.0   840000.0   824000.0   827000.0   297300   780384.01
2010-07-30   822000.0   827000.0   810000.0   810000.0   327900   764342.26
2010-08-02   817000.0   818000.0   810000.0   810000.0   249100   764342.26
2010-08-03   820000.0   822000.0   815000.0   815000.0   262100   769060.43
2010-08-04   817000.0   818000.0   806000.0   806000.0   212300   760567.73
2010-08-05   811000.0   818000.0   803000.0   804000.0   280500   758680.47
2010-08-06   810000.0   810000.0   799000.0   801000.0   245900   755849.57
2010-08-09   799000.0   802000.0   798000.0   802000.0   182700   756793.20
2010-08-10   800000.0   804000.0   791000.0   793000.0   281200   748300.51
2010-08-11   784000.0   789000.0   777000.0   779000.0   359100   735089.66
2010-08-12   768000.0   777000.0   765000.0   766000.0   427200   722822.44
2010-08-13   770000.0   782000.0   767000.0   781000.0   285400   736976.92
...               ...        ...        ...        ...      ...         ...
2016-05-30  1297000.0  1297000.0  1274000.0  1280000.0   206300  1280000.00
2016-05-31  1280000.0  1300000.0  1268000.0  1292000.0  1250500  1292000.00
2016-06-01  1298000.0  1341000.0  1295000.0  1333000.0   470000  1333000.00
2016-06-02  1350000.0  1372000.0  1346000.0  1365000.0   476100  1365000.00
2016-06-03  1370000.0  1379000.0  1364000.0  1377000.0   341300  1377000.00
2016-06-06  1377000.0  1377000.0  1377000.0  1377000.0        0  1377000.00
2016-06-07  1386000.0  1402000.0  1380000.0  1398000.0   462800  1398000.00
2016-06-08  1419000.0  1419000.0  1389000.0  1406000.0   376100  1406000.00
2016-06-09  1408000.0  1430000.0  1406000.0  1430000.0   515300  1430000.00
2016-06-10  1424000.0  1425000.0  1404000.0  1406000.0   289600  1406000.00
2016-06-13  1396000.0  1396000.0  1362000.0  1371000.0   304900  1371000.00
2016-06-14  1371000.0  1386000.0  1369000.0  1380000.0   245400  1380000.00
2016-06-15  1385000.0  1416000.0  1383000.0  1413000.0   306600  1413000.00
2016-06-16  1413000.0  1417000.0  1395000.0  1409000.0   292400  1409000.00
2016-06-17  1410000.0  1435000.0  1410000.0  1426000.0   328300  1426000.00
2016-06-20  1427000.0  1448000.0  1426000.0  1431000.0   270300  1431000.00
2016-06-21  1432000.0  1449000.0  1426000.0  1448000.0   200400  1448000.00
2016-06-22  1446000.0  1450000.0  1431000.0  1445000.0   178900  1445000.00
2016-06-23  1444000.0  1445000.0  1427000.0  1430000.0   225100  1430000.00
2016-06-24  1445000.0  1445000.0  1360000.0  1400000.0   411000  1400000.00
2016-06-27  1400000.0  1405000.0  1385000.0  1398000.0   236700  1398000.00
2016-06-28  1390000.0  1404000.0  1379000.0  1399000.0   214300  1399000.00
2016-06-29  1408000.0  1412000.0  1391000.0  1396000.0   210500  1396000.00
2016-06-30  1408000.0  1445000.0  1397000.0  1425000.0   273400  1425000.00
2016-07-01  1427000.0  1479000.0  1427000.0  1466000.0   287800  1466000.00
2016-07-04  1464000.0  1474000.0  1451000.0  1466000.0   159900  1466000.00
2016-07-05  1466000.0  1475000.0  1462000.0  1469000.0   157400  1469000.00
2016-07-06  1447000.0  1452000.0  1412000.0  1421000.0   334900  1421000.00
2016-07-07  1421000.0  1450000.0  1416000.0  1450000.0   229900  1450000.00
2016-07-08  1450000.0  1475000.0  1449000.0  1460000.0   269900  1460000.00

[1556 rows x 6 columns]

In [3]:
pd.set_option('max_rows',10)

In [12]:
pd.set_option('display.width',1000)

In [7]:
data.YahooDailyReader('005930.KS', '2010-07-04','2016-07-08', adjust_price=True).read().round(3)

,Open,High,Low,Close,Volume,Adj_Ratio
Date,,,,,,
2010-07-05,719991.540,726596.967,718104.275,723766.07,199900,0.944
2010-07-06,719047.908,731315.130,712442.481,731315.13,357500,0.944
2010-07-07,736033.287,736976.919,721878.800,725653.33,323600,0.944
2010-07-08,738864.189,739807.822,726596.968,731315.13,295000,0.944
2010-07-09,735089.659,751131.410,729427.864,751131.41,372100,0.944
...,...,...,...,...,...,...
2016-07-04,1464000.000,1474000.000,1451000.000,1466000.00,159900,1.000
2016-07-05,1466000.000,1475000.000,1462000.000,1469000.00,157400,1.000
2016-07-06,1447000.000,1452000.000,1412000.000,1421000.00,334900,1.000
2016-07-07,1421000.000,1450000.000,1416000.000,1450000.00,229900,1.000
2016-07-08,1450000.000,1475000.000,1449000.000,1460000.00,269900,1.000

In [13]:
print(_7)

                   Open         High          Low       Close  Volume  Adj_Ratio
Date
2010-07-05   719991.540   726596.967   718104.275   723766.07  199900      0.944
2010-07-06   719047.908   731315.130   712442.481   731315.13  357500      0.944
2010-07-07   736033.287   736976.919   721878.800   725653.33  323600      0.944
2010-07-08   738864.189   739807.822   726596.968   731315.13  295000      0.944
2010-07-09   735089.659   751131.410   729427.864   751131.41  372100      0.944
...                 ...          ...          ...         ...     ...        ...
2016-07-04  1464000.000  1474000.000  1451000.000  1466000.00  159900      1.000
2016-07-05  1466000.000  1475000.000  1462000.000  1469000.00  157400      1.000
2016-07-06  1447000.000  1452000.000  1412000.000  1421000.00  334900      1.000
2016-07-07  1421000.000  1450000.000  1416000.000  1450000.00  229900      1.000
2016-07-08  1450000.000  1475000.000  1449000.000  1460000.00  269900      1.000

[1556 rows x 6 columns]

In [3]:
data.YahooDailyReader('005930.KS', '2016-07-04','2016-07-08').read()

                 Open       High        Low      Close  Volume  Adj Close
Date
2016-07-04  1464000.0  1474000.0  1451000.0  1466000.0  159900  1466000.0
2016-07-05  1466000.0  1475000.0  1462000.0  1469000.0  157400  1469000.0
2016-07-06  1447000.0  1452000.0  1412000.0  1421000.0  334900  1421000.0
2016-07-07  1421000.0  1450000.0  1416000.0  1450000.0  229900  1450000.0
2016-07-08  1450000.0  1475000.0  1449000.0  1460000.0  269900  1460000.0

In [5]:
data.DataReader('005930.KS','yahoo','2016-07-04','2016-07-08')

                 Open       High        Low      Close  Volume  Adj Close
Date
2016-07-04  1464000.0  1474000.0  1451000.0  1466000.0  159900  1466000.0
2016-07-05  1466000.0  1475000.0  1462000.0  1469000.0  157400  1469000.0
2016-07-06  1447000.0  1452000.0  1412000.0  1421000.0  334900  1421000.0
2016-07-07  1421000.0  1450000.0  1416000.0  1450000.0  229900  1450000.0
2016-07-08  1450000.0  1475000.0  1449000.0  1460000.0  269900  1460000.0

In [6]:
print(_5)

                 Open       High        Low      Close  Volume  Adj Close
Date
2016-07-04  1464000.0  1474000.0  1451000.0  1466000.0  159900  1466000.0
2016-07-05  1466000.0  1475000.0  1462000.0  1469000.0  157400  1469000.0
2016-07-06  1447000.0  1452000.0  1412000.0  1421000.0  334900  1421000.0
2016-07-07  1421000.0  1450000.0  1416000.0  1450000.0  229900  1450000.0
2016-07-08  1450000.0  1475000.0  1449000.0  1460000.0  269900  1460000.0

In [13]:
_12.read()

,Open,High,Low,Close,Volume,Adj_Ratio
Date,,,,,,
2010-07-05,7.199915e+05,7.265970e+05,7.181043e+05,723766.07,199900,0.943632
2010-07-06,7.190479e+05,7.313151e+05,7.124425e+05,731315.13,357500,0.943632
2010-07-07,7.360333e+05,7.369769e+05,7.218788e+05,725653.33,323600,0.943632
2010-07-08,7.388642e+05,7.398078e+05,7.265970e+05,731315.13,295000,0.943632
2010-07-09,7.350897e+05,7.511314e+05,7.294279e+05,751131.41,372100,0.943632
2010-07-12,7.539623e+05,7.567932e+05,7.473569e+05,756793.20,251900,0.943632
2010-07-13,7.530187e+05,7.624550e+05,7.492441e+05,751131.41,306700,0.943632
2010-07-14,7.671732e+05,7.813276e+05,7.671732e+05,777553.12,663600,0.943632
2010-07-15,7.784968e+05,7.784968e+05,7.718913e+05,773778.59,321200,0.943632
2010-07-16,7.700041e+05,7.737786e+05,7.567932e+05,756793.20,338600,0.943632
2010-07-19,7.416951e+05,7.539623e+05,7.416951e+05,750187.78,291700,0.943632
2010-07-20,7.501878e+05,7.567932e+05,7.416951e+05,753018.67,231500,0.943632
2010-07-21,7.709477e+05,7.718913e+05,7.605677e+05,770947.69,331100,0.943632
2010-07-22,7.662295e+05,7.709477e+05,7.558496e+05,762455.00,308700,0.943632
2010-07-23,7.690604e+05,7.709477e+05,7.615114e+05,765285.90,282200,0.943632
2010-07-26,7.671732e+05,7.737786e+05,7.633986e+05,771891.32,212300,0.943632
2010-07-27,7.775531e+05,7.832149e+05,7.747222e+05,782271.28,381700,0.943632
2010-07-28,7.851022e+05,7.926512e+05,7.841585e+05,789820.34,464900,0.943632
2010-07-29,7.917076e+05,7.926512e+05,7.775531e+05,780384.01,297300,0.943632
2010-07-30,7.756658e+05,7.803840e+05,7.643423e+05,764342.26,327900,0.943632
2010-08-02,7.709477e+05,7.718913e+05,7.643423e+05,764342.26,249100,0.943632
2010-08-03,7.737786e+05,7.756659e+05,7.690604e+05,769060.43,262100,0.943632
2010-08-04,7.709477e+05,7.718913e+05,7.605677e+05,760567.73,212300,0.943632
2010-08-05,7.652859e+05,7.718913e+05,7.577368e+05,758680.47,280500,0.943632
2010-08-06,7.643423e+05,7.643423e+05,7.539623e+05,755849.57,245900,0.943632
2010-08-09,7.539623e+05,7.567932e+05,7.530187e+05,756793.20,182700,0.943632
2010-08-10,7.549059e+05,7.586805e+05,7.464132e+05,748300.51,281200,0.943632
2010-08-11,7.398078e+05,7.445260e+05,7.332024e+05,735089.66,359100,0.943632
2010-08-12,7.247097e+05,7.332024e+05,7.218788e+05,722822.44,427200,0.943632
2010-08-13,7.265970e+05,7.379206e+05,7.237661e+05,736976.92,285400,0.943632
...,...,...,...,...,...,...
2016-05-30,1.297000e+06,1.297000e+06,1.274000e+06,1280000.00,206300,1.000000
2016-05-31,1.280000e+06,1.300000e+06,1.268000e+06,1292000.00,1250500,1.000000
2016-06-01,1.298000e+06,1.341000e+06,1.295000e+06,1333000.00,470000,1.000000
2016-06-02,1.350000e+06,1.372000e+06,1.346000e+06,1365000.00,476100,1.000000
2016-06-03,1.370000e+06,1.379000e+06,1.364000e+06,1377000.00,341300,1.000000
2016-06-06,1.377000e+06,1.377000e+06,1.377000e+06,1377000.00,0,1.000000
2016-06-07,1.386000e+06,1.402000e+06,1.380000e+06,1398000.00,462800,1.000000
2016-06-08,1.419000e+06,1.419000e+06,1.389000e+06,1406000.00,376100,1.000000
2016-06-09,1.408000e+06,1.430000e+06,1.406000e+06,1430000.00,515300,1.000000
2016-06-10,1.424000e+06,1.425000e+06,1.404000e+06,1406000.00,289600,1.000000
2016-06-13,1.396000e+06,1.396000e+06,1.362000e+06,1371000.00,304900,1.000000
2016-06-14,1.371000e+06,1.386000e+06,1.369000e+06,1380000.00,245400,1.000000
2016-06-15,1.385000e+06,1.416000e+06,1.383000e+06,1413000.00,306600,1.000000
2016-06-16,1.413000e+06,1.417000e+06,1.395000e+06,1409000.00,292400,1.000000
2016-06-17,1.410000e+06,1.435000e+06,1.410000e+06,1426000.00,328300,1.000000
2016-06-20,1.427000e+06,1.448000e+06,1.426000e+06,1431000.00,270300,1.000000
2016-06-21,1.432000e+06,1.449000e+06,1.426000e+06,1448000.00,200400,1.000000
2016-06-22,1.446000e+06,1.450000e+06,1.431000e+06,1445000.00,178900,1.000000
2016-06-23,1.444000e+06,1.445000e+06,1.427000e+06,1430000.00,225100,1.000000
2016-06-24,1.445000e+06,1.445000e+06,1.360000e+06,1400000.00,411000,1.000000
2016-06-27,1.400000e+06,1.405000e+06,1.385000e+06,1398000.00,236700,1.000000
2016-06-28,1.390000e+06,1.404000e+06,1.379000e+06,1399000.00,214300,1.000000
2016-06-29,1.408000e+06,1.412000e+06,1.391000e+06,1396000.00,210500,1.000000
2016-06-30,1.408000e+06,1.445000e+06,1.397000e+06,1425000.00,273400,1.000000
2016-07-01,1.427000e+06,1.479000e+06,1.427000e+06,1466000.00,287800,1.000000
2016-07-04,1.464000e+06,1.474000e+06,1.451000e+06,1466000.00,159900,1.000000
2016-07-05,1.466000e+06,1.475000e+06,1.462000e+06,1469000.00,157400,1.000000
2016-07-06,1.447000e+06,1.452000e+06,1.412000e+06,1421000.00,334900,1.000000
2016-07-07,1.421000e+06,1.450000e+06,1.416000e+06,1450000.00,229900,1.000000
2016-07-08,1.450000e+06,1.475000e+06,1.449000e+06,1460000.00,269900,1.000000

In [14]:
data.DataReader?

In [20]:
data.YahooActionReader('005930.KS', '2010-07-04','2016-07-08').read()

              action    value
2015-12-29  DIVIDEND  20000.0
2015-06-29  DIVIDEND   1000.0
2014-12-29  DIVIDEND  19500.0
2014-06-27  DIVIDEND    500.0
2013-12-27  DIVIDEND  13800.0
2013-06-27  DIVIDEND    500.0
2012-12-27  DIVIDEND   7500.0
2012-06-28  DIVIDEND    500.0
2011-12-28  DIVIDEND   5000.0
2011-06-29  DIVIDEND    500.0
2010-12-29  DIVIDEND   5000.0