In [2]:
from yahoo_finance import Share

In [11]:
samsung = Share('005930.KS')

In [14]:
samsung.get_info()

{'CompanyName': None,
 'end': '2016-07-10',
 'start': '2000-01-04',
 'symbol': '005930.KS'}

In [12]:
samsung.get_historical('2016-07-04','2016-07-08')

[{'Adj_Close': '1460000.00',
  'Close': '1460000.00',
  'Date': '2016-07-08',
  'High': '1475000.00',
  'Low': '1449000.00',
  'Open': '1450000.00',
  'Symbol': '005930.KS',
  'Volume': '269900'},
 {'Adj_Close': '1450000.00',
  'Close': '1450000.00',
  'Date': '2016-07-07',
  'High': '1450000.00',
  'Low': '1416000.00',
  'Open': '1421000.00',
  'Symbol': '005930.KS',
  'Volume': '229900'},
 {'Adj_Close': '1421000.00',
  'Close': '1421000.00',
  'Date': '2016-07-06',
  'High': '1452000.00',
  'Low': '1412000.00',
  'Open': '1447000.00',
  'Symbol': '005930.KS',
  'Volume': '334900'},
 {'Adj_Close': '1469000.00',
  'Close': '1469000.00',
  'Date': '2016-07-05',
  'High': '1475000.00',
  'Low': '1462000.00',
  'Open': '1466000.00',
  'Symbol': '005930.KS',
  'Volume': '157400'},
 {'Adj_Close': '1466000.00',
  'Close': '1466000.00',
  'Date': '2016-07-04',
  'High': '1474000.00',
  'Low': '1451000.00',
  'Open': '1464000.00',
  'Symbol': '005930.KS',
  'Volume': '159900'}]

In [17]:
import pandas as pd
from pandas import DataFrame, Series

In [16]:
Share('YHOO').get_info()

{'CompanyName': None,
 'end': '2016-07-10',
 'start': '1996-04-12',
 'symbol': 'YHOO'}

In [18]:
DataFrame(samsung.get_historical('2016-07-04','2016-07-08'))

,Adj_Close,Close,Date,High,Low,Open,Symbol,Volume
0,1460000.00,1460000.00,2016-07-08,1475000.00,1449000.00,1450000.00,005930.KS,269900
1,1450000.00,1450000.00,2016-07-07,1450000.00,1416000.00,1421000.00,005930.KS,229900
2,1421000.00,1421000.00,2016-07-06,1452000.00,1412000.00,1447000.00,005930.KS,334900
3,1469000.00,1469000.00,2016-07-05,1475000.00,1462000.00,1466000.00,005930.KS,157400
4,1466000.00,1466000.00,2016-07-04,1474000.00,1451000.00,1464000.00,005930.KS,159900